.foot {
    height: 8vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 2vw;
    padding-right: 2vw;
    align-items: center;
    font-size: 2vh;
}

.foot-wrap {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.foot-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.foot-list li {
    display: inline;
    margin-right: 3vw;
}

.foot-list li a {
    display: inline-block;
    text-decoration: none;
}