a {
    text-decoration: none;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vh 1vh;
    border-radius: 1.5vh;
}

.login-text {
    padding-left: 1vh;
    font-size: 2vh;
    font-weight: bold;
}