#side-drawer {
    height: 100vh;
    width: 336px;
    z-index: 1032;
    top: 0;
    right: -336px;
    transition: right 0.25s ease;
}

#side-drawer-void {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
    background: rgba(0, 0, 0, 0.6);
}

#drawer-btn {
    position: absolute;
    top: 5vh;
    right: 2vw;
}

.drawer-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.drawer-profile > * {
    margin-top: 2vh;
    margin-bottom: 2vh;
}